<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Stergere cont</h1>
                <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Esti sigur ca doresti sa stergi contul <strong>{{ user.username }}</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuleaza</button>
                <button type="button" class="btn btn-danger" (click)="deleteUser()">Sterge cont!</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editeaza cont</h1>
                <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="editUserForm" (ngSubmit)="editUser()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="w-100 mb-2">
                                <mat-label><i class="fas fa-user-tie"></i> Nume</mat-label>
                                <input formControlName="firstName" matInput placeholder="Popescu"
                                    [errorStateMatcher]="matcher">
                                @if (editUserForm.get('firstName')?.hasError('required')) {
                                <mat-error>Numele este <strong>obligatoriu</strong>.</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="w-100 mb-2">
                                <mat-label><i class="fas fa-user-tie"></i> Prenume</mat-label>
                                <input formControlName="lastName" matInput placeholder="Ionel"
                                    [errorStateMatcher]="matcher">
                                @if (editUserForm.get('lastName')?.hasError('required')) {
                                <mat-error>Prenumele este <strong>obligatoriu</strong>.</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-at"></i> Email</mat-label>
                        <input formControlName="email" matInput placeholder="example@gmail.com"
                            [errorStateMatcher]="matcher">
                        @if ((editUserForm.get('email')?.hasError('email') || editUserForm.get('email')?.hasError('pattern')) &&
                        !editUserForm.get('email')?.hasError('required')) {
                        <mat-error>Introduce-ti o adresa de email valida!</mat-error>
                        }
                        @if (editUserForm.get('email')?.hasError('required')) {
                        <mat-error>Adresa de email este <strong>obligatorie</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fa-solid fa-user"></i> Nume Utilizator</mat-label>
                        <input formControlName="username" matInput placeholder="popescu_ionel"
                            [errorStateMatcher]="matcher">
                        @if (editUserForm.get('username')?.hasError('required')) {
                            <mat-error>Numele de utilizator este <strong>obligatorie</strong>.</mat-error>
                        }
                        @if (editUserForm.get('username')?.hasError('pattern') && !editUserForm.get('username')?.hasError('required')) {
                            <mat-error>Numele de utilizator nu poate contine caractere speciale, inafara de "-" si "_".</mat-error>
                        }
                        @if (editUserForm.get('username')?.hasError('minlength') && !editUserForm.get('username')?.hasError('required')) {
                            <mat-error>Numele de utilizator trebuie sa aiba minim <strong>8 caractere</strong>.</mat-error>
                        }
                        @if (editUserForm.get('username')?.hasError('maxlength') && !editUserForm.get('username')?.hasError('required')) {
                            <mat-error>Numele de utilizator trebuie sa aiba maxim <strong>20 caractere</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-key"></i> Adresa</mat-label>
                        <input formControlName="address" matInput type="text" placeholder="Scrie parola..."
                            [errorStateMatcher]="matcher">
                        @if (editUserForm.get('password')?.hasError('required')) {
                        <mat-error>Adresa este <strong>obligatorie</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of errorMessages">{{ error }}</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuleaza</button>
                    <button type="submit" class="btn btn-primary">Salveaza schimbarile!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-role-modal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Schimba rol</h1>
                <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="editUserRoleForm" (ngSubmit)="changeUserRole()">
                <div class="modal-body">
                    <mat-form-field class="w-100">
                        <mat-label>Durata suspendari</mat-label>
                        <mat-select formControlName="role" [errorStateMatcher]="matcher">
                            <mat-option value="ROLE_USER">
                                <div class="badge bg-secondary">
                                    Client
                                </div>
                            </mat-option>
                            <mat-option value="ROLE_MODERATOR">
                                <div class="badge bg-primary">
                                    Moderator
                                </div>
                            </mat-option>
                            <mat-option value="ROLE_ADMIN">
                                <div class="badge bg-danger">
                                    Admin
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of errorMessages">{{ error }}</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuleaza</button>
                    <button type="submit" class="btn btn-primary">Salveaza schimbarile!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="!user.suspendDetails" class="modal fade" id="suspend-modal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editeaza cont</h1>
                <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="suspendUserForm" (ngSubmit)="suspendUser()">
                <div class="modal-body">
                    <div class="badge bg-danger">Atentie!</div> 
                    Esti pe cale sa suspendezi activitatea de pe acest cont
                    <mat-form-field class="w-100 mb-2 mt-4">
                        <mat-label><i class="fas fa-at"></i> Motiv</mat-label>
                        <input formControlName="reason" matInput placeholder="Ex: Anunt inadecvat, etc"
                            [errorStateMatcher]="matcher">
                        @if (suspendUserForm.get('reason')?.hasError('required')) {
                        <mat-error>Motivul este <strong>obligatoriu</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Durata suspendari</mat-label>
                        <mat-select formControlName="suspendDays" [errorStateMatcher]="matcher">
                            @for (spec of suspendDays; track spec) {
                            <mat-option [value]="spec.numberOfDays">{{ spec.text }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of errorMessages">{{ error }}</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuleaza</button>
                    <button type="submit" class="btn btn-danger">Suspendeaza Cont</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="user.suspendDetails" class="modal fade" id="unsuspend-modal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Retrage Suspend</h1>
                <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Esti sigur ca doresti sa retrage suspendarea de pe acest cont?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuleaza</button>
                <button type="button" class="btn btn-danger" (click)="unsuspendUser()">Retrage Suspendarea</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logs-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Istoric utilizator</h1>
                <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Actiune</th>
                            <th>IP</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let log of user.logHistoryList">
                            <td>{{ log.action }}</td>
                            <td>{{ log.ipAddress }}</td>
                            <td>{{ log.actionDate | date:"dd.MM.YYYY HH:mm" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Inchide</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="sidebar" data-color="black" data-active-color="success">
        <div class="logo">
            <a [routerLink]="['/']" class="simple-text logo-normal text-center">
                LaTzanc.ro
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/dashboard']">
                        <i class="fa-solid fa-chart-line"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/dashboard', 'utilizatori']">
                        <i class="fa-solid fa-users"></i>
                        <p>Utilizatori</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/dashboard', 'management-anunturi']">
                        <i class="fa-solid fa-bullhorn"></i>
                        <p>Anunturi</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/dashboard', 'categorii']">
                        <i class="fa-solid fa-layer-group"></i>
                        <p>Categorii</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/dashboard', 'raportari-anunturi']">
                        <i class="fa-regular fa-flag"></i>
                        <p>Raportari Anunturi</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar pt-3 navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <h5 class="text-uppercase mx-4">Utilizatori</h5>
                </div>
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Salut {{ (authService.user$ | async)?.firstName }} {{ (authService.user$ | async)?.lastName }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><button [routerLink]="['/contul-meu']" class="dropdown-item"><i class="fa-solid fa-hand-spock"></i> Salut <b>{{ (authService.user$ | async)?.lastName }}</b></button></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><button [routerLink]="['/contul-meu']" class="dropdown-item"><i class="fa-solid fa-scroll"></i> Anunturi</button></li>
                        <li><button [routerLink]="['/contul-meu/mesaje/de-vandut']" class="dropdown-item"><i class="fa-solid fa-comments"></i> Mesaje</button></li>
                        <li><button [routerLink]="['/contul-meu/profil']" class="dropdown-item"><i class="fa-solid fa-gears"></i> Profil</button></li>
                        <div *ngIf="(authService.user$ | async)?.role == 'ROLE_ADMIN' || (authService.user$ | async)?.role == 'ROLE_MODERATOR'">
                            <li><hr class="dropdown-divider"></li>
                            <li><button [routerLink]="['/dashboard']" class="dropdown-item"><i class="fa-solid fa-gears"></i> Staff Area</button></li>
                        </div>
                        <li><hr class="dropdown-divider"></li>
                        <li><button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Iesi din cont</button></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md">
                    <div class="card mb-5">
                        <div class="card-header bg-dark text-white text-center text-uppercase fw-semibold fs-5">
                            Detalii Utilizator
                        </div>
                        <div class="card-body mx-5">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>SQL ID:</td>
                                        <td class="fw-semibold">{{ user.id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nume Utilizator:</td>
                                        <td class="fw-semibold">{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td class="fw-semibold">{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email Verificat:</td>
                                        <td>
                                            <div *ngIf="user.emailVerifed" class="badge bg-success">
                                                Verificat
                                            </div>
                                            <div *ngIf="!user.emailVerifed" class="badge bg-danger">
                                                Neverificat
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nume Complet:</td>
                                        <td class="fw-semibold">{{ user.firstName + " " + user.lastName }}</td>
                                    </tr>
                                    <tr>
                                        <td>IP:</td>
                                        <td class="fw-semibold">{{ user.ipAddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>Rol:</td>
                                        <td>
                                            @if (user.role == "ROLE_ADMIN") {
                                            <div class="badge bg-danger">
                                                Admin
                                            </div>
                                            }
                                            @if (user.role == "ROLE_MODERATOR") {
                                            <div class="badge bg-primary">
                                                Moderator
                                            </div>
                                            }
                                            @if (user.role == "ROLE_USER") {
                                            <div class="badge bg-secondary">
                                                Client
                                            </div>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Adresa:</td>
                                        <td class="fw-semibold">{{ user.address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Inregistrat la data de:</td>
                                        <td class="fw-semibold">{{ user.registeredDate | date:"dd.MM.YYYY HH:mm:ss" }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Istorul Actiunilor:</td>
                                        <td>
                                            <button class="btn btn-sm btn-secondary" data-bs-target="#logs-modal" data-bs-toggle="modal">Vezi Istoric</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table *ngIf="user.suspendDetails" class="table table-danger">
                                <thead>
                                    <tr>
                                        <th colspan="2">Detalii suspend</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cont Suspendat de:</td>
                                        <td class="fw-semibold">{{ user.suspendDetails.adminUsername }}</td>
                                    </tr>
                                    <tr>
                                        <td>IP Suspendat:</td>
                                        <td class="fw-semibold">{{ user.suspendDetails.ipAddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>Motiv:</td>
                                        <td class="fw-semibold">{{ user.suspendDetails.suspendReason }}</td>
                                    </tr>
                                    <tr>
                                        <td>Suspendat in data de:</td>
                                        <td class="fw-semibold">{{ user.suspendDetails.startingDate | date:"dd.MM.YYYY HH:mm:ss" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Pana in data de:</td>
                                        <td *ngIf="!user.suspendDetails.permanentSuspend" class="fw-semibold">{{ user.suspendDetails.endingDate | date:"dd.MM.YYYY HH:mm:ss" }}</td>
                                        <td *ngIf="user.suspendDetails.permanentSuspend" class="fw-semibold">
                                            <div class="badge bg-danger">
                                                Permanent
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-dark text-white text-center text-uppercase fw-semibold fs-5">
                            IP Log
                        </div>
                        <div class="card-body mx-5">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Adresa IP</th>
                                        <th>Folosit din data de</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ip of user.ipLogs">
                                        <td>{{ ip.ipAddress }}</td>
                                        <td>{{ ip.usedFrom | date:"HH:mm:ss dd.MM.YYYY"}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header bg-dark text-white text-center text-uppercase fw-semibold fs-5">
                            Admin Tools
                        </div>
                        <div class="card-body">
                            <button class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#edit-modal">Editeaza Cont</button>
                            <button class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#edit-role-modal">Schimba rol</button>
                            <button class="btn btn-outline-warning w-100" (click)="forceConfirmEmail()">Confirma Fortat
                                Email-ul</button>
                            <button *ngIf="!user.suspendDetails" class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#suspend-modal">Suspenda Cont</button>
                            <button *ngIf="user.suspendDetails" class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#unsuspend-modal">Retrage suspend</button>
                            <button class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#delete-modal">Sterge Cont</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>