<app-header></app-header>

<div class="container-fluid pt-5 mt-5 bg-white shadow rounded">
    <div class="container-lg">
        <h3 class="fw-semibold mb-5 mt-3">Profil</h3>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a [routerLink]="['/contul-meu']" class="nav-link">Anunturi</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/contul-meu/mesaje']" class="nav-link">Mesaje</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/contul-meu/profil']" class="nav-link active" aria-current="page">Profil</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/contul-meu/setari']" class="nav-link">Setari</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-lg">

</div>

<app-footer></app-footer>