<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body p-4" style="max-width: 500px;">
                <h4 class="fw-semibold mb-3"><i class="far fa-window-restore"></i> Resetare Parola</h4>
                <hr>
                <form [formGroup]="verifyCodeForm" (ngSubmit)="resetPassword()">
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-at"></i> Noua Parola</mat-label>
                        <input formControlName="password" matInput type="password" placeholder="Scrie parola..." [errorStateMatcher]="matcher">
                        @if (verifyCodeForm.get('password')?.hasError('minlength') &&
                        !verifyCodeForm.get('password')?.hasError('required')) {
                        <mat-error>Parola trebuie sa contina minim <strong>8</strong> caractere.</mat-error>
                        }
                        @if (verifyCodeForm.get('password')?.hasError('pattern') &&
                        !verifyCodeForm.get('password')?.hasError('required')) {
                        <mat-error>Parola trebuie sa contina <strong>litera mare, litera mica, numere si caractere
                                speciale</strong>.</mat-error>
                        }
                        @if (verifyCodeForm.get('password')?.hasError('required')) {
                        <mat-error>Parola este <strong>obligatorie</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-at"></i> Confirma Parola</mat-label>
                        <input formControlName="confirmPassword" matInput type="password" placeholder="Confirma Parola" [errorStateMatcher]="matcher">
                        @if (verifyCodeForm.get('confirmPassword')?.hasError('minlength') &&
                        !verifyCodeForm.get('confirmPassword')?.hasError('required')) {
                        <mat-error>Confirma Parola trebuie sa contina minim <strong>8</strong> caractere.</mat-error>
                        }
                        @if (verifyCodeForm.get('confirmPassword')?.hasError('unmatched') &&
                        !verifyCodeForm.get('confirmPassword')?.hasError('required')) {
                        <mat-error>Cele 2 parole nu se potrivesc</mat-error>
                        }
                        @if (verifyCodeForm.get('confirmPassword')?.hasError('required')) {
                        <mat-error>Confirma Parola este <strong>obligatorie</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-at"></i> Cod</mat-label>
                        <input formControlName="code" matInput placeholder="123123" [errorStateMatcher]="matcher">
                        @if (verifyCodeForm.get('code')?.hasError('length') && !verifyCodeForm.get('code')?.hasError('required')) {
                            <mat-error>Introduce-ti o adresa de email valida!</mat-error>
                        }
                        @if (verifyCodeForm.get('code')?.hasError('required')) {
                            <mat-error>Codul este <strong>obligatoriu</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of errorMessages">{{ error }}</li>
                        </ul>
                    </div>
                      <button type="submit" class="btn btn-info fw-semibold btn-lg w-100"><i class="fas fa-paper-plane"></i> Reseteaza Parola!</button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-toast></app-toast>