<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body p-4" style="max-width: 500px;">
                <h4 class="fw-semibold mb-3"><i class="far fa-window-restore"></i> Resetare Parola</h4>
                <hr>
                <form [formGroup]="forgotForm" (ngSubmit)="sendEmail()">
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-at"></i> Email</mat-label>
                        <input formControlName="email" matInput placeholder="example@gmail.com" [errorStateMatcher]="matcher">
                        @if (forgotForm.get('email')?.hasError('email') && !forgotForm.get('email')?.hasError('required')) {
                            <mat-error>Introduce-ti o adresa de email valida!</mat-error>
                        }
                        @if (forgotForm.get('email')?.hasError('required')) {
                            <mat-error>Adresa de email este <strong>obligatorie</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <div *ngIf="errorMessage.length > 0" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of errorMessage">{{ error }}</li>
                        </ul>
                    </div>
                      <button type="submit" class="btn btn-info fw-semibold btn-lg w-100"><i class="fas fa-paper-plane"></i> Trimite Email!</button>
                </form>
            </div>
        </div>
    </div>
</div>