<nav class="navbar navbar-expand-lg bg-white fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Un nume potent va rog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-semibold">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Mesaje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-heart"></i> Favorite</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-user-alt"></i> Contul tau
                    </a>
                    <ul class="dropdown-menu">
                        <div *ngIf="(authService.user$ | async) === null">
                            <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#login-modal"><i class="fas fa-sign-in-alt"></i> Autentificate</button></li>
                        </div>
                        <div *ngIf="(authService.user$ | async) !== null">
                            <li><button class="dropdown-item"><i class="fa-solid fa-hand-spock"></i> Salut <b>{{ (authService.user$ | async)?.lastName }}</b></button></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item"><i class="fa-solid fa-scroll"></i> Anunturi</button></li>
                            <li><button class="dropdown-item"><i class="fa-solid fa-comments"></i> Mesaje</button></li>
                            <li><button class="dropdown-item"><i class="fa-solid fa-gears"></i> Setari</button></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Iesi din cont</button></li>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <button [routerLink]="['adauga-anunt']" class="nav-link btn btn-success"><i class="fas fa-plus-square"></i> Adauga anunt nou</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-login-modal></app-login-modal>