.nav-link {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-borderless {
    border: 0px solid;
}

#ad-card .object-fit {
    width: 100%;
    height: 290px;
    object-fit: contain;
    object-position: 50% 50%;
}

@media screen and (max-width: 992.98px) {
    #ad-card .object-fit {
        height: 500px;
    }
}