<app-header></app-header>
<div class="container my-5 py-5">
    <h4 class="fw-semibold">Publica un anunt</h4>
    <form [formGroup]="addAdForm" (ngSubmit)="addNewAd()">
        <div class="container bg-white p-5 mb-3 shadow">
            <h5 class="mb-3">Dă cat mai multe detalii!</h5>
            <mat-form-field class="w-100 mb-3">
                <mat-label>Adauga titlu</mat-label>
                <input formControlName="title" matInput #title placeholder="Ex. iPhone 11 aproape nou">
                <mat-hint align="start">Introdu cel puțin 16 caractere</mat-hint>
                <mat-hint align="end">{{title.value.length}} / 70</mat-hint>
                @if (addAdForm.get('title')?.hasError('required')) {
                    <mat-error>Titlul unui anunt este <strong>obligatoru</strong>.</mat-error>
                }
                @if (addAdForm.get('title')?.hasError('minlength') && !addAdForm.get('title')?.hasError('required')) {
                    <mat-error>Titlul trebuie sa contina minim <strong>16 caractere</strong>.</mat-error>
                }
                @if (addAdForm.get('title')?.hasError('maxlength') && !addAdForm.get('title')?.hasError('required')) {
                    <mat-error>Titlul trebuie sa contina maxim <strong>70 caractere</strong>.</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="w-100">
                <mat-label>Categoria</mat-label>
                <mat-select>
                    @for (food of foods; track food) {
                    <mat-option [value]="food">{{food}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="container bg-white p-5 mb-3 shadow">
            <mat-form-field class="w-100 mb-5">
                <mat-label>Descriere</mat-label>
                <textarea formControlName="content" matInput #description placeholder="Incearca sa scrii ce ai vrea tu sa afli daca te-ai uita la acest anunt..." style="height: 300px;"></textarea>
                <mat-hint align="start">Introdu cel puțin 40 caractere</mat-hint>
                <mat-hint align="end">{{description.value.length}} / 9000</mat-hint>
                @if (addAdForm.get('content')?.hasError('required')) {
                    <mat-error>Titlul unui anunt este <strong>obligatoru</strong>.</mat-error>
                }
                @if (addAdForm.get('content')?.hasError('minlength') && !addAdForm.get('title')?.hasError('required')) {
                    <mat-error>Titlul trebuie sa contina minim <strong>16 caractere</strong>.</mat-error>
                }
                @if (addAdForm.get('content')?.hasError('maxlength') && !addAdForm.get('title')?.hasError('required')) {
                    <mat-error>Titlul trebuie sa contina maxim <strong>9000 caractere</strong>.</mat-error>
                }
            </mat-form-field>
            <div class="row mb-4">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Pret</mat-label>
                        <input formControlName="price" matInput placeholder="123 lei">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="w-100">
                        <mat-label>Moneda</mat-label>
                        <mat-select formControlName="currency">
                            @for (currency of currencies; track currency) {
                            <mat-option [value]="currency">{{ currency }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <mat-form-field class="w-100">
                        <mat-label>Judet</mat-label>
                        <mat-select formControlName="country">
                            @for (country of countries; track country) {
                            <mat-option [value]="country">{{ country }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md">
                    <mat-form-field class="w-100">
                        <mat-label>Localitate</mat-label>
                        <input formControlName="address" matInput placeholder="Ex. Beius">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="container bg-white p-5 mb-3 shadow">
            <h5 class="mb-3">Imagini</h5>
            <file-pond [options]="pondOptions" (onaddfile)="onChange($event)" (onremovefile)="onDelete($event)"></file-pond>
            <mat-hint class="float-start">Incarca minim 2 poze cu produsul</mat-hint>
            <mat-hint class="float-end">{{imageArray.length}} / 8</mat-hint>
        </div>
        <div class="container bg-white p-5 mb-3 shadow">
            <mat-form-field class="w-100 mb-3">
                <mat-label>Persoana de contact</mat-label>
                <input formControlName="contactPersonName" matInput placeholder="Ex. Popescu Ionel" [value]="(authService.user$ | async)?.firstName + ' ' + (authService.user$ | async)?.lastName">
            </mat-form-field>
            <mat-form-field class="w-100 mb-3">
                <mat-label>Adresa de email</mat-label>
                <input matInput placeholder="Ex. example@exam.com" [value]="(authService.user$ | async)?.email" disabled>
            </mat-form-field>
            <mat-form-field class="w-100 mb-3">
                <mat-label>Numarul de telefon</mat-label>
                <input formControlName="phoneNumber" matInput placeholder="Ex. Beius">
            </mat-form-field>
        </div>
        <div class="container bg-white p-5 shadow">
            <div class="float-end">
                <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Adauga anunt!</button>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>