<div class="wrapper">
    <div class="sidebar" data-color="black" data-active-color="success">
        <div class="logo">
            <a [routerLink]="['/']" class="simple-text logo-normal text-center">
                LaTzanc.ro
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/dashboard']">
                        <i class="fa-solid fa-chart-line"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li *ngIf="(authService.user$ | async)?.role == 'ROLE_ADMIN'" [routerLinkActive]="['active']">
                    <a [routerLink]="['/dashboard', 'utilizatori']">
                        <i class="fa-solid fa-users"></i>
                        <p>Utilizatori</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/dashboard', 'management-anunturi']">
                        <i class="fa-solid fa-bullhorn"></i>
                        <p>Anunturi</p>
                    </a>
                </li>
                <li *ngIf="(authService.user$ | async)?.role == 'ROLE_ADMIN'" [routerLinkActive]="['active']">
                    <a [routerLink]="['/dashboard', 'categorii']">
                        <i class="fa-solid fa-layer-group"></i>
                        <p>Categorii</p>
                    </a>
                </li>
                <li *ngIf="(authService.user$ | async)?.role == 'ROLE_ADMIN'" [routerLinkActive]="['active']">
                    <a [routerLink]="['/dashboard', 'raportari-anunturi']">
                        <i class="fa-regular fa-flag"></i>
                        <p>Raportari Anunturi</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar pt-3 navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <h5 class="text-uppercase mx-4">Panou de control</h5>
                </div>
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Salut {{ (authService.user$ | async)?.firstName }} {{ (authService.user$ | async)?.lastName }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><button [routerLink]="['/contul-meu']" class="dropdown-item"><i class="fa-solid fa-hand-spock"></i> Salut <b>{{ (authService.user$ | async)?.lastName }}</b></button></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><button [routerLink]="['/contul-meu']" class="dropdown-item"><i class="fa-solid fa-scroll"></i> Anunturi</button></li>
                        <li><button [routerLink]="['/contul-meu/mesaje/de-vandut']" class="dropdown-item"><i class="fa-solid fa-comments"></i> Mesaje</button></li>
                        <li><button [routerLink]="['/contul-meu/profil']" class="dropdown-item"><i class="fa-solid fa-gears"></i> Profil</button></li>
                        <div *ngIf="(authService.user$ | async)?.role == 'ROLE_ADMIN' || (authService.user$ | async)?.role == 'ROLE_MODERATOR'">
                            <li><hr class="dropdown-divider"></li>
                            <li><button [routerLink]="['/dashboard']" class="dropdown-item"><i class="fa-solid fa-gears"></i> Staff Area</button></li>
                        </div>
                        <li><hr class="dropdown-divider"></li>
                        <li><button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Iesi din cont</button></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="row mb-3">
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch">
                    <div class="card card-stats w-100 border-0 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center text-warning">
                                        <i class="fa-solid fa-users-line"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">Utilizatori</p>
                                        <p class="card-title">{{ dashboardDetails.numberOfUsers }}<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <hr>
                            <div class="stats">
                                <p class="text-success">Azi: +{{ dashboardDetails.numberOfUsersToday }} utilizatori</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch">
                    <div class="card card-stats w-100 border-0 shadow">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center text-success">
                                        <i class="fa-solid fa-bullhorn"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">Anunturi</p>
                                        <p class="card-title">{{ dashboardDetails.numberOfAnnouncements }}<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <p class="text-success">Azi: +{{ dashboardDetails.numberOfAnnouncementsToday }} anunturi</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch">
                    <div class="card card-stats w-100 border-0 shadow">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center text-info">
                                        <i class="fa-solid fa-icons"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">Conturi Suspendate</p>
                                        <p class="card-title">{{ dashboardDetails.numberOfSuspendedAccount }}
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <p class="text-success">Azi: +{{ dashboardDetails.numberOfSuspendedAccountToday }} conturi</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch">
                    <div class="card card-stats w-100 border-0 shadow">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center text-danger">
                                        <i class="fa-solid fa-flag-checkered"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">Raportari</p>
                                        <p class="card-title">{{ dashboardDetails.numberOfUnsolvedReports }}
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <p class="text-success">Azi: +{{ dashboardDetails.numberOfUnsolvedReportsToday }} reporturi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl">
                    <div class="card shadow mb-3 border-0">
                        <div class="card-header ">
                            <h5 class="card-title">Ultimele anunturi</h5>
                            <p class="card-category">Ultimele 24 de ore</p>
                        </div>
                        <div class="card-body overflow-auto" style="height: 500px;">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let ad of dashboardDetails.last24Ads">
                                        <td>{{ ad.title }}</td>
                                        <td>{{ ad.contactPersonName }}</td>
                                        <td>{{ ad.price + " " + ad.currency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xxl">
                    <div class="card shadow mb-3 border-0">
                        <div class="card-header ">
                            <h5 class="card-title">Actiuni recente</h5>
                            <p class="card-category">Ultimele 24 de ore</p>
                        </div>
                        <div class="card-body overflow-auto" style="height: 500px;">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let log of dashboardDetails.last24Logs">
                                        <td>{{ log.action }}</td>
                                        <td>{{ log.actionDate | date:"dd.MM.YYYY HH:mm" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>