<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fas fa-users"></i> Autentifica-te!</h1>
                <button type="button" #closeModal class="btn-close" (click)="resetForm()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="modal-body p-4">
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-at"></i> Nume Utilizator</mat-label>
                        <input formControlName="username" matInput placeholder="example@gmail.com" [errorStateMatcher]="matcher">
                        @if (loginForm.get('username')?.hasError('required')) {
                            <mat-error>Adresa de email este <strong>obligatorie</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-key"></i> Parola</mat-label>
                        <input formControlName="password" matInput type="password" placeholder="Scrie parola..." [errorStateMatcher]="matcher">
                        @if (loginForm.get('password')?.hasError('minlength') && !loginForm.get('password')?.hasError('required')) {
                            <mat-error>Parola trebuie sa contina minim <strong>8</strong> caractere.</mat-error>
                        }
                        @if (loginForm.get('password')?.hasError('required')) {
                            <mat-error>Parola este <strong>obligatorie</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of errorMessages">{{ error }}</li>
                        </ul>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <mat-checkbox class="fw-semibold">Remember me!</mat-checkbox>
                        </div>
                        <div class="col d-flex align-items-center justify-content-end">
                            <a href="/reseteaza-parola" class="text-decoration-none">Am uitat parola!</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-danger fw-semibold w-100 mb-3"><i class="fas fa-sign-in-alt"></i> Autentifica-te!</button>
                    <h6 class="fw-semibold text-center">SAU</h6>
                    <p class="text-center">Daca nu ai un cont, <a href="inregistreaza-te" class="text-decoration-none">click aici</a>!</p>
                </div>
            </form>
        </div>
    </div>
</div>