.offcanvas {
    height: 700px;
    margin-top: calc(100vh - 700px);
    overflow: hidden;
}

.offcanvas-body {
    overflow: hidden;
    padding: 0;
}

@media screen and (max-height: 992px) {
    .offcanvas {
        margin-top: 30vh;
        height: 70vh;
    }
}

@media screen and (max-height: 768px) {
    .offcanvas {
        margin-top: 0;
        height: 100vh;
    }
}

.chat-container {
    height: calc(100% - 150px);
    overflow-y: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.chat-container .seller {
    background-color: rgba(0, 0, 0, 0.1);
}

.chat-container .you {
    background-color: rgba(25, 135, 84, 0.7);
}