<app-header></app-header>

<div class="container-fluid pt-5 mt-5 bg-white shadow rounded mb-5">
    <div class="container-lg">
        <h3 class="fw-semibold mb-5 mt-3">Anunturile tale</h3>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a [routerLink]="['/contul-meu']" class="nav-link active" aria-current="page">Anunturi</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/contul-meu/mesaje/de-vandut']" class="nav-link">Mesaje</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/contul-meu/profil']" class="nav-link">Profil</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/contul-meu/favorite']" class="nav-link">Favorite</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-lg">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="active-ads-tab" data-bs-toggle="tab" data-bs-target="#active-ads-tab-pane"
                type="button" role="tab" aria-controls="active-ads-tab-pane" aria-selected="true">Active</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="waiting-ads-tab" data-bs-toggle="tab" data-bs-target="#waiting-ads-tab-pane"
                type="button" role="tab" aria-controls="waiting-ads-tab-pane" aria-selected="false">In Asteptare</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="disabled-ads-tab" data-bs-toggle="tab" data-bs-target="#disabled-ads-tab-pane"
                type="button" role="tab" aria-controls="disabled-ads-tab-pane" aria-selected="false">Dezactivate</button>
        </li>
    </ul>
    <div class="tab-content" id="adsTabContent">
        <div class="tab-pane fade show active" id="active-ads-tab-pane" role="tabpanel" aria-labelledby="active-ads-tab"
            tabindex="0">
            <div *ngIf="!activeAds.length" class="container-lg">
                <div class="d-flex align-items-center justify-content-center" style="min-height: 200px;">
                    <div class="d-flex flex-column align-items-center my-5">
                        <img src="assets/site-imgs/not-found.png" class="img-fluid w-75" alt="Not Found Image">
                        <h4 class="fw-semibold">Momentant nu ai nici un anut activ</h4>
                        <p class="text-muted">Acest anunțuri pot fi văzute de oricine și expiră la 30 de zile după ce au fost activate.</p>
                        <button class="btn btn-lg btn-success fw-semibold">Adauga anunt</button>
                    </div>
                </div>
            </div>
            <div *ngIf="activeAds.length" class="container-lg">
                <h4 class="my-3">Anunturi active</h4>
                <div class="card card-body border-0 shadow mb-5" *ngFor="let ad of activeAds">
                    <div class="row">
                        <div class="col-md-3">
                            <img [src]="getImage(ad.imageUrl, '0')" class="img-fluid">
                        </div>
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md">
                                    <a [attr.href]="'/anunt/' + ad.url" class="fw-semibold fs-4 text-decoration-none text-dark">{{ ad.title }}</a>
                                    <p class="text-muted">{{ ad.address }}</p>
                                    <p class="text-muted">{{ ad.createdDate | date:"dd.MM.YYYY"}} - {{ ad.expirationDate | date:"dd.MM.YYYY" }}</p>
                                    <div class="badge bg-success">
                                        Anunt aprobat
                                    </div>
                                </div>
                                <div class="col-md">
                                    <p class="float-end m-4 fw-semibold fs-4">{{ ad.price + " " + ad.currency}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md">
                            <p class="text-muted m-0" style="font-size: 13px;">ID: {{ad.id}}</p>
                        </div>
                        <div class="col-md d-flex flex-row justify-content-end gap-2">
                            <button *ngIf="!ad.deactivated" class="btn btn-sm btn-outline-warning fw-semibold" (click)="deactivateAd(ad.id)">Dezactiveaza</button>
                            <button class="btn btn-sm btn-outline-primary fw-semibold" [routerLink]="['/adauga-anunt/editeaza', ad.id]">Editeaza</button>
                            <button class="btn btn-sm btn-outline-danger fw-semibold" (click)="setId(ad.id)">Sterge</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="waiting-ads-tab-pane" role="tabpanel" aria-labelledby="waiting-ads-tab" tabindex="0">
            <div *ngIf="!waitingAds.length" class="container">
                <div class="d-flex align-items-center justify-content-center" style="min-height: 200px;">
                    <div class="d-flex flex-column align-items-center my-5">
                        <img src="assets/site-imgs/not-found.png" class="img-fluid w-75" alt="Not Found Image">
                        <h4 class="fw-semibold">Momentant nu ai nici un anut dezactivat</h4>
                        <p class="text-muted">Acest anunțuri pot fi văzute de oricine și expiră la 30 de zile după ce au fost activate.</p>
                    </div>
                </div>
            </div>
            <div *ngIf="waitingAds.length" class="container">
                <h4 class="my-3">Anunturi in asteptare</h4>
                <div class="card card-body border-0 shadow mb-5" *ngFor="let ad of waitingAds">
                    <div class="row">
                        <div class="col-md-3">
                            <img [src]="getImage(ad.imageUrl, '0')" class="img-fluid">
                        </div>
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md">
                                    <a [attr.href]="'/anunt/' + ad.url" class="fw-semibold fs-4 text-decoration-none text-dark">{{ ad.title }}</a>
                                    <p class="text-muted">{{ ad.address }}</p>
                                    <p class="text-muted">{{ ad.createdDate | date:"dd.MM.YYYY"}} - {{ ad.expirationDate | date:"dd.MM.YYYY" }}</p>
                                    <div class="badge bg-warning">
                                        Anunt in curs de aprobare
                                    </div>
                                </div>
                                <div class="col-md">
                                    <p class="float-end m-4 fw-semibold fs-4">{{ ad.price + " " + ad.currency}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md">
                            <p class="text-muted m-0" style="font-size: 13px;">ID: {{ad.id}}</p>
                        </div>
                        <div class="col-md d-flex flex-row justify-content-end gap-2">
                            <button *ngIf="!ad.deactivated" class="btn btn-sm btn-outline-warning fw-semibold" (click)="deactivateAd(ad.id)">Dezactiveaza</button>
                            <button class="btn btn-sm btn-outline-primary fw-semibold" [routerLink]="['/adauga-anunt/editeaza', ad.id]">Editeaza</button>
                            <button class="btn btn-sm btn-outline-danger fw-semibold" (click)="setId(ad.id)">Sterge</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="disabled-ads-tab-pane" role="tabpanel" aria-labelledby="disabled-ads-tab" tabindex="0">
            <div *ngIf="!disabledAds.length" class="container">
                <div class="d-flex align-items-center justify-content-center" style="min-height: 200px;">
                    <div class="d-flex flex-column align-items-center my-5">
                        <img src="assets/site-imgs/not-found.png" class="img-fluid w-75" alt="Not Found Image">
                        <h4 class="fw-semibold">Momentant nu ai nici un anut dezactivat</h4>
                        <p class="text-muted">Acest anunțuri pot fi văzute de oricine și expiră la 30 de zile după ce au fost activate.</p>
                    </div>
                </div>
            </div>
            <div *ngIf="disabledAds.length" class="container">
                <h4 class="my-3">Anunturi dezactivate</h4>
                <div class="card card-body border-0 shadow mb-5" *ngFor="let ad of disabledAds">
                    <div class="row">
                        <div class="col-md-3">
                            <img [src]="getImage(ad.imageUrl, '0')" class="img-fluid">
                        </div>
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md">
                                    <a [attr.href]="'/anunt/' + ad.url" class="fw-semibold fs-4 text-decoration-none text-dark">{{ ad.title }}</a>
                                    <p class="text-muted">{{ ad.address }}</p>
                                    <p class="text-muted">{{ ad.createdDate | date:"dd.MM.YYYY"}} - {{ ad.expirationDate | date:"dd.MM.YYYY" }}</p>
                                    <div class="badge bg-danger">
                                        Anunt dezactivat
                                    </div>
                                </div>
                                <div class="col-md">
                                    <p class="float-end m-4 fw-semibold fs-4">{{ ad.price + " " + ad.currency}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md">
                            <p class="text-muted m-0" style="font-size: 13px;">ID: {{ad.id}}</p>
                        </div>
                        <div class="col-md d-flex flex-row justify-content-end gap-2">
                            <button *ngIf="ad.deactivated" class="btn btn-sm btn-outline-success fw-semibold" (click)="activateAd(ad.id)">Activeaza</button>
                            <button class="btn btn-sm btn-outline-danger fw-semibold" (click)="setId(ad.id)">Sterge</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>