<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body p-4" style="max-width: 500px;">
                <h4 class="fw-semibold mb-3"><i class="far fa-file-alt"></i> Creaza un cont</h4>
                <hr>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="w-100 mb-2">
                                <mat-label><i class="fas fa-user-tie"></i> Nume</mat-label>
                                <input formControlName="firstName" matInput placeholder="Popescu"
                                    [errorStateMatcher]="matcher">
                                @if (registerForm.get('firstName')?.hasError('required')) {
                                <mat-error>Numele este <strong>obligatoriu</strong>.</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="w-100 mb-2">
                                <mat-label><i class="fas fa-user-tie"></i> Prenume</mat-label>
                                <input formControlName="lastName" matInput placeholder="Ionel"
                                    [errorStateMatcher]="matcher">
                                @if (registerForm.get('lastName')?.hasError('required')) {
                                <mat-error>Prenumele este <strong>obligatoriu</strong>.</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-at"></i> Email</mat-label>
                        <input formControlName="email" matInput placeholder="example@gmail.com"
                            [errorStateMatcher]="matcher">
                        @if ((registerForm.get('email')?.hasError('email') || registerForm.get('email')?.hasError('pattern')) &&
                        !registerForm.get('email')?.hasError('required')) {
                        <mat-error>Introduce-ti o adresa de email valida!</mat-error>
                        }
                        @if (registerForm.get('email')?.hasError('required')) {
                        <mat-error>Adresa de email este <strong>obligatorie</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fa-solid fa-user"></i> Nume Utilizator</mat-label>
                        <input formControlName="username" matInput placeholder="popescu_ionel"
                            [errorStateMatcher]="matcher">
                        @if (registerForm.get('username')?.hasError('required')) {
                            <mat-error>Numele de utilizator este <strong>obligatorie</strong>.</mat-error>
                        }
                        @if (registerForm.get('username')?.hasError('pattern') && !registerForm.get('username')?.hasError('required')) {
                            <mat-error>Numele de utilizator nu poate contine caractere speciale, inafara de "-" si "_".</mat-error>
                        }
                        @if (registerForm.get('username')?.hasError('minlength') && !registerForm.get('username')?.hasError('required')) {
                            <mat-error>Numele de utilizator trebuie sa aiba minim <strong>8 caractere</strong>.</mat-error>
                        }
                        @if (registerForm.get('username')?.hasError('maxlength') && !registerForm.get('username')?.hasError('required')) {
                            <mat-error>Numele de utilizator trebuie sa aiba maxim <strong>20 caractere</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-key"></i> Parola</mat-label>
                        <input formControlName="password" matInput type="password" placeholder="Scrie parola..."
                            [errorStateMatcher]="matcher">
                        @if (registerForm.get('password')?.hasError('minlength') &&
                        !registerForm.get('password')?.hasError('required')) {
                        <mat-error>Parola trebuie sa contina minim <strong>8</strong> caractere.</mat-error>
                        }
                        @if (registerForm.get('password')?.hasError('pattern') &&
                        !registerForm.get('password')?.hasError('required')) {
                        <mat-error>Parola trebuie sa contina <strong>litera mare, litera mica, numere si caractere
                                speciale</strong>.</mat-error>
                        }
                        @if (registerForm.get('password')?.hasError('required')) {
                        <mat-error>Parola este <strong>obligatorie</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2 is-invalid">
                        <mat-label><i class="fas fa-key"></i> Confirma Parola</mat-label>
                        <input formControlName="confirmPassword" matInput type="password" placeholder="Confirma parola"
                            [errorStateMatcher]="matcher">
                        @if (registerForm.get('confirmPassword')?.hasError('minlength') &&
                        !registerForm.get('confirmPassword')?.hasError('required')) {
                        <mat-error>Parola trebuie sa contina minim <strong>8</strong> caractere.</mat-error>
                        }
                        @if (registerForm.get('confirmPassword')?.hasError('unmatched') &&
                        !registerForm.get('confirmPassword')?.hasError('required')) {
                        <mat-error>Cele 2 parole nu se potrivesc</mat-error>
                        }
                        @if (registerForm.get('confirmPassword')?.hasError('required')) {
                        <mat-error>Parola este <strong>obligatorie</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2">
                        <mat-label><i class="fas fa-flag"></i> Judet</mat-label>
                        <mat-select formControlName="county">
                            @for (county of counties; track county) {
                            <mat-option [value]="county">{{ county }}</mat-option>
                            }
                        </mat-select>
                        @if (registerForm.get('county')?.hasError('required')) {
                        <mat-error>Judetul este <strong>obligatoriu</strong>.</mat-error>
                        }
                    </mat-form-field>
                    <hr>
                    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of errorMessages">{{ error }}</li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-info fw-semibold btn-lg w-100 mb-3"><i class="far fa-plus-square"></i> Creaza cont!</button>
                    <h6 class="fw-semibold text-center">SAU</h6>
                    <p class="text-center">Daca ai un cont, <a href="#login-modal" class="text-decoration-none">click aici</a>!</p>
                </form>
            </div>
        </div>
    </div>
</div>