<div class="wrapper">
    <div class="sidebar" data-color="black" data-active-color="success">
        <app-side-menu></app-side-menu>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar pt-3 navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <h5 class="text-uppercase mx-4">Anunturi</h5>
                </div>
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Salut {{ (authService.user$ | async)?.firstName }} {{ (authService.user$ | async)?.lastName }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="card card-body border-0 shadow">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titlu</th>
                            <th scope="col">Postat in</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [routerLink]="['detalii-anunt', ad.id]" *ngFor="let ad of ads">
                            <th scope="row">{{ ad.id }}</th>
                            <td>{{ ad.title }}</td>
                            <td>{{ ad.createdDate | date:"dd.MM.YYYY HH:mm:ss" }}</td>
                            <td>
                                <div *ngIf="ad.approved" class="badge bg-success">
                                    Aprobat
                                </div>
                                <div *ngIf="!ad.approved" class="badge bg-danger">
                                    Neaprobat
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator #paginator
                    class="paginator"
                    (page)="handlePageEvent($event)"
                    [length]="100"
                    [pageSize]="pageSize"
                    [disabled]="disabled"
                    [showFirstLastButtons]="showFirstLastButtons"
                    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                    [hidePageSize]="hidePageSize"
                    [pageIndex]="pageIndex"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>