<app-header></app-header>

<div class="card text-white" id="index-card">
    <img src="assets/site-imgs/bg-index.jpg" class="object-fit">
    <div class="card-img-overlay w-100" style="padding: 0px;">
        <div class="container position-absolute top-50 start-50 translate-middle p-0">
            <h3 class="mb-5 text-center">Vinzi tot ce ai furat de pe Spania</h3>
            <app-search-bar></app-search-bar>
        </div>
    </div>
</div>
<div class="container-fluid bg-white">
    <div class="container my-5 p-5">
        <h2 class="text-center fw-semibold mb-5">Categorii Principale</h2>
        <div *ngIf="loadingCategory" class="row row-cols-1 row-cols-lg-6 g-3 g-lg-3 mb-5">
            <div class="col" *ngFor="let column of [].constructor(12)">
                <div class="card text-center shadow-sm p-3 mb-5 bg-body rounded" aria-hidden="true">
                    <span class="placeholder" style="height: 100px;"></span>
                    <div class="card-body">
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!loadingCategory" class="row row-cols-2 row-cols-lg-6 g-3 g-lg-3">
            <div class="col d-flex align-items-stretch" *ngFor="let category of categories">
                <div class="card text-center shadow-sm p-3 mb-5 bg-body rounded" [routerLink]="['anunturi-din-categoria', category.searchLink]">
                    <img [src]="getImageCategory(category.iconUrl)" class="img-fluid card-img-top w-50 mx-auto d-block"
                        alt="...">
                    <div class="card-body">
                        <h6 class="card-title">{{ category.name }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-transparent p-5">
    <h2 class="text-center fw-semibold mb-5">Anunturi recente</h2>
    <div *ngIf="loadingAds" class="row row-cols-1 row-cols-lg-4 g-3 g-lg-3 mb-5">
        <div class="col" *ngFor="let column of [].constructor(12)">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded" aria-hidden="true">
                <span class="placeholder" style="height: 250px;"></span>
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!loadingAds" class="row row-cols-1 row-cols-lg-4 g-3 g-lg-3 mb-5">
        <div class="col d-flex" *ngFor="let ad of ads">
            <div class="card shadow-sm p-3 mb-3 bg-body rounded w-100" id="ad-card">
                <img [src]="getImage(ad.imageUrl, '0')" class="card-img-top object-fit" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 [routerLink]="['anunt', ad.url]" class="card-title">{{ ad.title }}</h6>
                        </div>
                        <div class="col-1">
                            <app-favorite-button *ngIf="(authService.user$ | async)?.id != ad.id" [current-ad]="ad"></app-favorite-button>
                        </div>
                    </div>
                    <p class="card-text fw-bold">{{ ad.price + " " + ad.currency }}</p>
                    <p class="card-text text-muted" style="font-size: 13px;">{{ ad.address }}</p>
                </div>
            </div>
        </div>
    </div>
    <a [routerLink]="['/anunturi']" class="text-decoration-none text-muted d-flex justify-content-center fw-semibold">Mai multe anunturi</a>
</div>

<app-footer></app-footer>