<app-header></app-header>

<div class="card text-white" id="index-card">
    <img src="assets/site-imgs/bg-index.jpg" class="object-fit">
    <div class="card-img-overlay w-100" style="padding: 0px;">
        <div class="container position-absolute top-50 start-50 translate-middle p-0">
            <h3 class="mb-5 text-center">Vinzi tot ce ai furat de pe Spania</h3>
            <app-search-bar></app-search-bar>
        </div>
    </div>
</div>
<div class="container-fluid bg-white">
    <div class="container my-5 p-5">
        <h2 class="text-center fw-semibold mb-5">Categorii Principale</h2>
        <div class="row row-cols-3 row-cols-lg-6 g-3 g-lg-3">
            <div class="col">
                <div class="card text-center">
                    <img src="assets/site-imgs/category-imgs/auto-masini-moto-ambarcatiuni-5-1x.png"
                        class="img-fluid card-img-top w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Auto, moto si ambarcatiuni</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="assets/site-imgs/category-imgs/auto-masini-moto-ambarcatiuni-5-1x.png"
                        class="img-fluid card-img-top w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Auto, moto si ambarcatiuni</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="assets/site-imgs/category-imgs/auto-masini-moto-ambarcatiuni-5-1x.png"
                        class="img-fluid card-img-top w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Auto, moto si ambarcatiuni</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="assets/site-imgs/category-imgs/auto-masini-moto-ambarcatiuni-5-1x.png"
                        class="img-fluid card-img-top w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Auto, moto si ambarcatiuni</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="assets/site-imgs/category-imgs/auto-masini-moto-ambarcatiuni-5-1x.png"
                        class="img-fluid card-img-top w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Auto, moto si ambarcatiuni</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="assets/site-imgs/category-imgs/auto-masini-moto-ambarcatiuni-5-1x.png"
                        class="img-fluid card-img-top w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Auto, moto si ambarcatiuni</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="assets/site-imgs/category-imgs/auto-masini-moto-ambarcatiuni-5-1x.png"
                        class="img-fluid card-img-top w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Auto, moto si ambarcatiuni</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="assets/site-imgs/category-imgs/auto-masini-moto-ambarcatiuni-5-1x.png"
                        class="img-fluid card-img-top w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Auto, moto si ambarcatiuni</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-transparent p-5">
    <h2 class="text-center fw-semibold mb-5">Anunturi recente</h2>
    <div class="row row-cols-3 row-cols-lg-4 g-3 g-lg-3 mb-5">
        <div class="col" *ngFor="let ad of ads">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded" [routerLink]="['anunt', ad.url]">
                <img src="assets/site-imgs/category-imgs/auto-masini-moto-ambarcatiuni-5-1x.png" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title">{{ ad.title }}</h6>
                        </div>
                        <div class="col-2">
                            <i class="far fa-heart"></i>
                        </div>
                    </div>
                    <p class="card-text fw-bold">74.601 lei</p>
                    <p class="card-text text-muted" style="font-size: 13px;">Cluj-Napoca</p>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>

<app-footer></app-footer>